<p> Enter You detail </p>

<form action="/users/user-create" method="post">
	<input type="text" name="email" placeholder="email">
	<input type="password" name="pwd" placeholder="password">
	<input type="text" name="mobile" placeholder="mobile">
	<input type="text" name="address" placeholder="address">

	<button type="submit" value="submit">Submit</button>
</form>